:root{
    --align: center;
    --direction: row;
    --gap: 0.5vw;
    --bottom-margin: 1.5vh;
}
.display {
    display: flex;
    flex-direction: var(--direction);
    align-items: var(--align);
    margin-bottom: var(--bottom-margin);
    gap: var(--gap);
}
.trackinfo {
    margin: 0;
}
.playlistIMG{
    width: 25vw;
}

@media screen and (max-width: 720px) {
    :root{
        --align: flex-start;
        --direction: column;
        --gap: 0;
        --bottom-margin: 1.5vh;
    }
}